<!-- app/views/orders/_invoice.html.erb -->
<h1>Invoice</h1>
<p><strong>Order ID:</strong> <%= @order.id %></p>

<p><strong>Address:</strong> <%= @order.customer.address %></p>
<p><strong>City:</strong> <%= @order.customer.city %></p>
<p><strong>Province:</strong> <%= @order.province.name %></p>
<p><strong>Postal Code:</strong> <%= @order.customer.postal_code %></p>

<% if @order.customer.present? && @order.province.present? %>
  <p><strong>GST Rate:</strong> <%= @order.province.gst_rate %>%</p>
  <p><strong>PST Rate:</strong> <%= @order.province.pst_rate %>%</p>
  <p><strong>HST Rate:</strong> <%= @order.province.hst_rate %>%</p>
  <p><strong>Subtotal:</strong> <%= number_to_currency(@order.subtotal) %></p>
  <p><strong>GST:</strong> <%= number_to_currency(@order.total_gst) %></p>
  <p><strong>PST:</strong> <%= number_to_currency(@order.total_pst) %></p>
  <p><strong>HST:</strong> <%= number_to_currency(@order.total_hst) %></p>
  <p><strong>Total:</strong> <%= number_to_currency(@order.total_price) %></p>
<% else %>
  <p><strong>Taxes:</strong> Information not available.</p>
  <p><strong>Total:</strong> Information not available.</p>
<% end %>
