<!-- app/views/orders/checkout.html.erb -->
<h1>Checkout</h1>

<%= form_with(model: @order, url: orders_path) do |form| %>
  <% if current_customer %>
    <% if current_customer.address.present? %>
      <h2>Shipping Address</h2>
      <p><strong>Name:</strong> <%= current_customer.name %></p>
      <p><strong>Address:</strong> <%= current_customer.address %></p>
      <p><strong>City:</strong> <%= current_customer.city %></p>
      <p><strong>Province:</strong> <%= current_customer.province %></p>
      <p><strong>Postal Code:</strong> <%= current_customer.postal_code %></p>
    <% else %>
      <h2>Shipping Address</h2>
      <p>You have not added a shipping address yet.</p>
    <% end %>
  <% else %>
    <h2>Shipping Address</h2>
    <%= form.label :address, "Address" %><br>
    <%= form.text_field :address %><br>

    <%= form.label :city, "City" %><br>
    <%= form.text_field :city %><br>

    <%= form.label :province, "Province" %><br>
    <%= form.text_field :province %><br>

    <%= form.label :postal_code, "Postal Code" %><br>
    <%= form.text_field :postal_code %><br>
  <% end %>

  <h2>Order Items</h2>
  <table>
    <!-- Display order items here -->
  </table>

  <%= form.submit "Place Order" %>
<% end %>
