
<h1><%= @book.title %></h1>
<% if @book.image.attached? %>
  <%= image_tag @book.image %>

    <% end %>

<p><strong>Description:</strong> <%= @book.description %></p>
<p><strong>Quantity:</strong> <%= @book.quantity %></p>
<p><strong>Pages:</strong> <%= @book.pages %></p>
<p><strong>Price:</strong> <%= @book.price %></p>
<p><strong>Publisher:</strong> <%= @book.publisher %></p>
<p><strong>Publication Date:</strong> <%= @book.publication_date %></p>
<p><strong>Author:</strong> <%= @book.author.name %></p>

<p><strong>Genres:</strong></p>
<ul>
  <% @book.genres.each do |genre| %>
     <li><%= link_to genre.name, genre_path(genre) %></li>
  <% end %>
</ul>
<%= form_tag cart_items_path, method: :post do %>
  <%= hidden_field_tag :book_id, @book.id %>
  <%= submit_tag 'Add to Cart' %>
<% end %>


<%= link_to 'Back', books_path %>
