<h1>Shopping Cart</h1>

  <ul>
    <% @cart_items.each do |item| %>

      <li>
        <%= item.book.title %>
         <%= button_to "+", cart_item_path(item, quantity: item.quantity + 1), method: :patch %>(Quantity: <%= item.quantity %>)

        <%= button_to "-", cart_item_path(item, quantity: item.quantity - 1), method: :patch %>
        <%= button_to "Remove", cart_item_path(item), method: :delete %>
      </li>
    <% end %>
  </ul>


